<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper
3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbsw.posts.mapper.PostMapper">

<!--    mybatis-config.xml에 com.kbsw.posts.model.PostDTO 타입을 PostDTO로 별칭 등록함-->
    <insert id="insertPost" parameterType="PostDTO">
        insert into posts(name, title, content,pwd,fileName,originFileName,fileSize)
        values(#{name},#{title},#{content,jdbcType=VARCHAR},#{pwd},#{fileName:VARCHAR},
        #{originFileName:VARCHAR},#{fileSize:INTEGER})
    </insert>

    <select id="listPost" parameterType="com.kbsw.posts.model.PagingDTO" resultType="PostDTO">
        select * from posts order by id desc

    </select>
</mapper>