@charset "utf-8";
.wrap{
    width:70%;
    margin: 1em auto;
}
.wrap h1{
    text-align:center;
    margin: 1.2em;
}
.wrap ul{
    width:100%;
    margin:0;
    padding:0;
}
.wrap ul>li{
    list-style:none;
    float:left;
}
.wrap ul>li:nth-child(2n+1){
    width:20%;
    text-align:center;
    margin: 8px 0;
}
.wrap ul>li:nth-child(2n){
    width:80%;
    margin: 8px 0;

}
.wrap li input{
    padding:5px;
    width:80%;
    border:1px solid #aaa;
}
.wrap li textarea{
    width:100%;
    height:350px;
    padding:5px;
    border:1px solid #aaa;
}
.clear{
    clear:both;
}